.panel {
  width: 400px;
  height: 100%;
  border-left: 1px solid #f3f4f6;
  background-color: #fcfcfc;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.tabBar {
  display: flex;
  padding: 12px 16px;
  background-color: #fcfcfc;
  border-bottom: 1px solid #f3f4f6;
  justify-content: center;
}

.content {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}